<footer>
  <section class="footer__area-common">
    <div class="container">
      <div class="footer__main">
        <div class="footer__grid">
          <div class="footer__widget">
            <div class="footer__logo mb-25">
              <span class="gradient-text-1" style="font-size:42px;">JIBI</span>
            </div>
            <div class="footer__content">
              <div class="footer__social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="footer__content">
            <div class="footer__widget-title">
              <h5>Contactez-nous</h5>
            </div>
            <div class="footer__link">
              <ul>
                <li><a href="#">Adresse: Agdal NR 976 ,Rabat,Maroc</a></li>
                <li><a href="#">+212 6 55 77 88 99</a></li>
                <li><a href="#">contact&#64;jibi.com</a></li>
              </ul>
            </div>
          </div>
          <div class="footer__widget">
            <div class="footer__widget-title">
              <h5>Liens rapide</h5>
            </div>
            <div class="footer__link">
              <ul>
                <li><a href="#">Nos Services</a></li>
                <li><a href="#">Jibi en chiffres</a></li>
                <li><a href="#">Nos partenaires</a></li>
              </ul>
            </div>
          </div>
          <div class="footer__widget">
            <div class="footer__widget-title">
              <h5>À propos de nous</h5>
            </div>
            <div class="footer__newsletter">
              <p>JIBI est votre solution idéale pour payer vos factures rapidement et en toute sécurité.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
