<!-- Revolution area start -->
<section class="revolution__area section-space-bottom wow fadeIn" data-wow-delay=".6s">
  <div class="container">
    <div class="revolution__wrapper">
      <div class="revolution__shape"></div>
      <div class="row gy-5 align-items-center">
        <div class="col-xxl-5 col-xl-6 col-lg-6">
          <div class="revolution__intro section__title-space">
            <h3>Jibi <span class="text-paragraph">En Chiffres</span> </h3>
          </div>
        </div>
      </div>
      <div class="revolution__grid">
        <div class="revolution__item text-center">
          <div class="revolution__content">
            <div class="revolution__number">
              <h2><span class="counter">25</span>+</h2>
            </div>
            <p>Années d'expérience</p>
          </div>
        </div>
        <div class="revolution__item text-center is-mainly-red">
          <div class="revolution__content">
            <div class="revolution__number">
              <h2><span class="counter">25</span>+</h2>
            </div>
            <p>Clients satisfaits</p>
          </div>
        </div>
        <div class="revolution__item text-center is-mainly-blue">
          <div class="revolution__content">
            <div class="revolution__number">
              <h2><span class="counter">{{creanciersNumber}}</span>+</h2>
            </div>
            <p>Partenaires</p>
          </div>
        </div>
        <div class="revolution__item text-center is-mainly-pink">
          <div class="revolution__content">
            <div class="revolution__number">
              <h2><span class="counter">2</span>B+</h2>
            </div>
            <p>Comptes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
