 <!-- Forgot area start -->
    <div class="contact__area"  style="margin: 4%">
      <div class="container">
          <div class="col-xxl-6 col-xl-6 col-lg-7" style="width: 90%;">
            <div class="contact__wrapper">
              <div class="contact__form">
                <div class="login__intro" style="margin-left: 100px;margin-bottom: 3rem;">
                  <div class="header__left">
                    <div class="header__logo">
                      <a routerLink="">
                <span class="gradient-text-1">
                  <img src="assets/imgs/log.svg" width="40px" height="40px">
                  JIBI
                </span>
                      </a>
                    </div>
                  </div>
                </div>
                <p>Entrez votre muméro de telephone pour crée un nouveau password</p>
                <form action="">
                  <div class="login__input mb-25">
                    <input minlength="18" MAXLENGTH="18" type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="+212 6 xx xx xx xx" (input)="formatPhoneNumber()" (keydown)="preventPrefixRemoval($event)">
                  </div>
                  <div class="login__submit mb-25">
                    <button class="bd-gradient-btn w-100" type="submit" (click)="handleSubmit($event)">Valider</button>
                  </div>
                  <div class="log__not-account">
                    <p>Remember your password? <a (click)="dialogService.openLoginPage()" class="text-blue-600"> Login</a></p>
                  </div>
                </form>





                <p class="ajax-response"></p>
              </div>
            </div>
          </div>
      </div>
    </div>
  <!-- Forgot area end -->
