<div class="brand__area-6 theme-bg-1 section-rounded-60 section-space">
  <div class="container">
    <div>
      <div class="logo">
        <a href="#">
          <img src="assets/imgs/icons/inwi.png" alt="image not found">
        </a>
      </div>
      <div class="logo">
        <a href="#">
          <img src="assets/imgs/icons/maroctelecom.png" alt="image not found">
        </a>
      </div>

      <div class="logo">
        <a href="#">
          <img src="assets/imgs/icons/amendis.png" alt="image not found">
        </a>
      </div>
      <div class="logo">
        <a href="#">
          <img src="assets/imgs/icons/orange.png" alt="image not found">
        </a>
      </div>
      <div class="logo">
        <a href="#">
          <img src="assets/imgs/icons/attijari.png" alt="image not found">
        </a>
      </div>

    </div>
  </div>
</div>
<!--<div class="logo-container">-->
<!--  <img src="assets/imgs/maroctelecom.png" alt="Credit Agricole">-->
<!--  <img src="assets/imgs/inwi.png" alt="OTP Bank">-->
<!--  <img src="assets/imgs/attijari.png" alt="National Bank of Greece">-->
<!--  <img src="assets/imgs/amendis.png" alt="Attijariwafa Bank">-->
<!--  <img src="assets/imgs/Saham.jpg" alt="The Saudi Investment Bank">-->
<!--</div>-->
