<div class="col-xxl-6 col-xl-6 col-lg-7 my-5 mx-auto">
  <div class="contact__wrapper">
    <div class="contact__form">
      <h2>Recharge Solde</h2>
      <form [formGroup]="rechargeForm" (ngSubmit)="onSubmit()">
        <div class="contact__input-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact__input-box mb-15 mb-20">
                <div class="contact__input-title">
                  <label for="amount">Amount<span> *</span></label>
                </div>
                <div class="contact__input">
                  <input id="amount" formControlName="amount" type="number" placeholder="Enter amount">
                  <div *ngIf="rechargeForm.get('amount')?.invalid && rechargeForm.get('amount')?.touched" class="text-danger">
                    Amount must be greater than zero
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12" >
              <div *ngIf="errorMessage" class="error-message text-danger">{{ errorMessage }}</div>
              <div *ngIf="successMessage" class="success-message text-success">{{ successMessage }}</div>
            </div>
            <div class="col-lg-12">
              <div class="contact__btn">
                <button class="bd-gradient-btn w-100" type="submit">Recharge</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
