<div class="contact__area"  style="margin: 4%">
  <div class="container">
    <div class="col-xxl-6 col-xl-6 col-lg-7" style="width: 90%;">
      <div class="contact__wrapper">
        <div class="contact__form">
          <div class="login__intro" style="margin-left: 80px;margin-bottom: 3rem;">
            <div class="offcanvas__logo">
              <a routerLink="">
                <img src="assets/imgs/logo/logo-black.svg" alt="logo not found">
              </a>
            </div>
          </div>
          <p>Entrez le code envoyé à votre numéro de télephone pour valider la transaction</p>
          <form action="">
            <div class="login__input mb-25">
              <input type="tel" [(ngModel)]="otp" name="otp" placeholder="xxxxxxxxx" >
            </div>
            <div class="login__submit mb-25">
              <button class="bd-gradient-btn w-100" type="submit"  (click)="handleSubmit($event)" >Valider</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
