<div class="d-flex mb-3">
  <input type="text" class="form-control me-2" placeholder="Search by créancier name"
         [(ngModel)]="searchTerm" (ngModelChange)="filterConfirmations()">

  <select class="form-select" aria-label="Sort by Date" [(ngModel)]="sortByDate" (ngModelChange)="onSortChange()">
    <option value="recent">Most Recent First</option>
    <option value="oldest">Oldest First</option>
  </select>
</div>

<div class="container">
  <div class="row wow fadeInUp" data-wow-delay=".3s"
       *ngIf="confirmations.length > 0; else noConfirmationsMessage"
       style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="col-xxl-12 mb-2" *ngFor="let confirmation of confirmations">
      <div class="work__steps-inner">
        <div class="row g-5">
          <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="work__step-item-2 is-mainly-red text-center">
              <div class="work__step-count">
                <span><CheckIcon/></span>
              </div>
              <div class="work__step-content-2">
                <h3>Vous avez effectué une transaction.</h3>
                <p class="text-blue-50">{{ confirmation.date }}</p>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="work__step-item-2 is-mainly-blue text-center">
              <div class="work__step-count">
                <span class="w-[32px] h-[32px]"><img class="w-3/4 " [src]="confirmation.creance.creancier.logoURL"></span>
              </div>
              <div class="work__step-content-2">
                <h3>{{confirmation.creance.creancier.nom}}</h3>
                <p class="text-cyan-600">{{confirmation.montant}} DH</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noConfirmationsMessage>
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No Transactions Found!</h4>
      <p>No transactions could be found for the selected criteria. Please adjust your search or check back later.</p>
    </div>
  </ng-template>
</div>
