.service__icon-2 span {
  width: 100px;
  height: 100px;
  display: inline-flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-size: 45px;
  color: var(--bd-theme-primary);
}
