<section class="element-button section-space">
  <div class="container">

      <div class="row g-5 align-items-center justify-content-center">


        <div class="col-lg-3 text-center">
          <a class="pricing__btn-white" routerLink="create-agent">Create Agent<span><i class="fa-regular fa-angle-right"></i></span></a>
        </div>
        <div class="col-lg-3 text-center">
          <a class="pricing__btn-white" routerLink="create-client" >Create Client<span><i class="fa-regular fa-angle-right"></i></span></a>
        </div>
      </div>

  </div>

</section>
<router-outlet/>
