<nav class="horizontal-nav">
  <div class="curr">
    Dashboard
  </div>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher...">
    <mat-icon class="search-icon" (click)="search()">search</mat-icon>
  </div>
  <div class="account-dropdown">
    <button class="account-btn">Account</button>
    <div class="dropdown-content">
      <a href="#">Settings</a>
      <a href="#">Logout</a>
    </div>
  </div>
</nav>
<nav class="vertical-nav">
    <div class="offcanvas__logo" style="width: 80px;margin-left: 20px">
      <a routerLink="">
        <img src="assets/imgs/logo/logo-black.svg" alt="logo not found">
      </a>
    </div>
    <ul>
      <li class="m-4 w-100 content-center" [class.active]="currentRoute === '/dashboard'"><img src="assets/imgs/icons/dash.png" style="width: 20px;height: 20px"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="m-4 w-100 content-center"><img src="assets/imgs/icons/img_2.png" style="width: 20px;height: 20px"><a routerLink="/transaction-management">Transactions</a></li>
      <li class="m-4 w-100 content-center"><img src="assets/imgs/icons/img_5.png" style="width: 20px;height: 20px"><a routerLink="/user-management">New Client</a></li>
      <li class="m-4 w-100 content-center"><img src="assets/imgs/icons/img_7.png" style="width: 20px;height: 20px"><a routerLink="/user-management">New Agent</a></li>
      <li class="m-4 w-100 content-center"><img src="assets/imgs/icons/img_8.png" style="width: 20px;height: 20px"><a routerLink="/user-management">New Agency</a></li>
    </ul>
</nav>
