.nav-btn{
  cursor: pointer;
  width: fit-content;
}
.qr-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.bshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
  opacity: 0.5;
}
