<app-header></app-header>
<!-- Body glow start -->
<div class="glow__area">
  <div class="body__color-glow"></div>
  <div class="body__color-glow glow-2"></div>
</div>
<!-- Body glow end -->
<!-- Body main wrapper start -->
<main>
  <!-- Banner area start -->
  <section class="banner__area theme-bg-1 fix">
    <div class="container" >
      <div class="row justify-content-center" >
        <div class="col-xxl-12 col-xl-8 col-lg-10">
          <div class="banner__content-wrapper text-center p-relative z-index-11">
            <div class="banner__content wow fadeIn" data-wow-delay=".3s">
              <span class="banner__sbutitle uppercase">Bienvenue sur JIBI</span>
              <h2>Simplifiez la Gestion de Vos <span class="gradient-text-1">Paiements</span> de Factures.</h2>
              <p>Votre Solution Intégrale pour la Gestion des Transactions Financières.</p>
              <!--                                <a class="bd-gradient-btn" href="contact-light.html">Get Started<span><i class="fa-regular fa-angle-right"></i></span></a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__thumb-box p-relative z-index-1 wow fadeIn" data-wow-delay=".5s">
      <div class="banner__glow">
        <div class="glow-1"></div>
        <div class="glow-2"></div>
      </div>

    </div>
  </section>
  <!-- Banner area end -->

  <!-- why choose area start -->
  <section class="why__choose-area theme-bg-1 section-space">
    <div class="container">
      <div class="row gy-5 align-items-end section__title-space">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
          <div class="section__title-wrapper">
            <span class="section__subtitle uppercase mb-20">Nos Services</span>
            <h2 class="section__title mb-20">Découvrez Nos Services Exclusifs</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-12">
          <div class="swiper common__carousel-active">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="why__choose-item wow fadeIn" data-wow-delay=".3s">
                  <div class="why-choose__content">
                    <div class="why__choose-icon">
                      <span><img src="assets/imgs/why-choose/why-choose-01.png" alt="image not found"></span>
                      <h3><a href="#">Paiement de Factures </a></h3>
                      <p>Réglez vos factures d'eau, d'électricité en quelques clics.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="why__choose-item is-brick-red wow fadeIn" data-wow-delay=".5s">
                  <div class="why-choose__content">
                    <div class="why__choose-icon">
                      <span><img src="assets/imgs/why-choose/why-choose-02.png" alt="image not found"></span>
                      <h3><a href="#">Gestion de Compte</a></h3>
                      <p>Consultez votre solde et visualisez l'historique de vos transactions à tout moment.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="why__choose-item is-mainly-blue wow fadeIn" data-wow-delay=".7s">
                  <div class="why-choose__content">
                    <div class="why__choose-icon">
                      <span><img src="assets/imgs/why-choose/why-choose-03.png" alt="image not found"></span>
                      <h3><a href="#">Accès Simplifié </a></h3>
                      <p>Connectez-vous facilement avec votre numéro de téléphone et un mot de passe sécurisé.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="why__choose-item wow fadeIn" data-wow-delay=".3s">
                  <div class="why-choose__content">
                    <div class="why__choose-icon">
                      <span><img src="assets/imgs/why-choose/why-choose-01.png" alt="image not found"></span>
                      <h3><a href="#">Recharge Mobile</a></h3>
                      <p> Achetez des recharges pour votre téléphone mobile rapidement et facilement.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="why__choose-item is-brick-red wow fadeIn" data-wow-delay=".7s">
                  <div class="why-choose__content">
                    <div class="why__choose-icon">
                      <span><img src="assets/imgs/why-choose/why-choose-02.png" alt="image not found"></span>
                      <h3><a href="#">Transactions Sécurisées</a></h3>
                      <p>Bénéficiez d'une plateforme sécurisée pour toutes vos opérations financières.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="pagination__wrappper">
              <div class="bd-swiper-dot text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="mission__area o-xs section-space">
    <div class="container">
      <div class="row gy-50 align-items-center" style="--bs-gutter-x: 7rem;">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
          <div class="mission__thumb wow fadeInLeft animated" data-wow-delay=".6s">
            <img src="assets/imgs/about/about-02.png" alt="image not found">
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6">
          <div class="mission__content wow fadeInRight animated" data-wow-delay=".6s">
            <div class="section__title-wrapper" >
              <span class="section__subtitle-7 mb-20">A Propos De Nous</span>
              <h3 class="section__title mb-20">Bienvenue chez JIBI, la solution ultime pour simplifier vos paiements de factures.</h3>
            </div>
            <p>Chez JIBI, nous sommes dédiés à offrir une plateforme intuitive et sécurisée pour gérer toutes
              vos transactions de paiement de factures. Notre objectif est de rendre chaque étape,
              de l’inscription à la gestion des paiements, aussi simple et efficace que possible.</p>
            <p>Rejoignez-nous et découvrez comment <strong>JIBI</strong> peut transformer la gestion de vos paiements en une expérience simple et sans tracas.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-statistique></app-statistique>
<app-partenaires></app-partenaires>
<app-footer></app-footer>
