
<table mat-table [dataSource]="impayes" matSort matSortDisableClear class="table">
  <ng-container matColumnDef="Numero de Facture">
    <th mat-header-cell *matHeaderCellDef>Numéro de Facture</th>
    <td mat-cell *matCellDef="let impaye" mat-sort-header>{{ impaye.facture.numFacture }}</td>
  </ng-container>
  <ng-container matColumnDef="Date Facture">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Facture</th>
    <td mat-cell *matCellDef="let impaye">{{ impaye.date }}</td>
  </ng-container>
  <ng-container matColumnDef="Type Facture">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type Facture</th>
    <td mat-cell *matCellDef="let impaye">{{ impaye.type }}</td>
  </ng-container>

  <ng-container matColumnDef="Montant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant</th>
    <td mat-cell *matCellDef="let impaye">{{ impaye.montant }}</td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let impaye">
      <button (click)="payer(impaye)">Payer</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="this.cols"></tr>
  <tr mat-row *matRowDef="let row; columns: this.cols"></tr>
</table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,15]"></mat-paginator>

