 <!-- Forgot area start -->
    <div class="contact__area"  style="margin: 4%">
      <div class="container">
          <div class="col-xxl-6 col-xl-6 col-lg-7 mx-auto" style="width: 100%;">
            <div class="contact__wrapper">
              <div class="contact__form">
                <div class="login__intro mb-40 px-0">
                  <p>Enter your phone number to request password reset</p>
                </div>
                <form action="">
                  <div class="login__input mb-25">
                    <input type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="01 23 45 67 89" (input)="formatPhoneNumber()">
                  </div>
                  <div class="login__submit mb-25">
                    <button class="bd-gradient-btn w-100" type="submit"  (click)="handleSubmit($event)" >Login</button>
                  </div>
                  <div class="log__not-account">
                    <p>Remember your password?<a (click)="dialogService.openLoginPage()" class="text-blue-600"> Login</a></p>
                  </div>
                </form>
                <p class="ajax-response"></p>
              </div>
            </div>
          </div>
      </div>
    </div>
  <!-- Forgot area end -->
