<nav class="horizontal-nav">
  <div class="curr">
    {{currentRoute}}
  </div>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher...">
    <mat-icon class="search-icon" (click)="search()">search</mat-icon>
  </div>
  <div class="account-dropdown">
    <button class="account-btn">Account</button>
    <div class="dropdown-content">
      <a href="#">Settings</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<nav class="vertical-nav">
  <div class="offcanvas__logo" style="width: 80px;margin-left: 20px">
    <a routerLink="">
      <img src="assets/imgs/logo/logo-black.svg" alt="logo not found">
    </a>
  </div>
  <ul *ngFor="let element of navs">
    <li class="m-4 w-100 content-center" *ngIf="element.visible" [class.active]="currentContent === element.link"><img src="{{element.image}}" style="width: 30px;height: 30px"><a (click)="selectComponent(element.link)">{{element.name}}</a></li>
  </ul>
</nav>
