<nav class="horizontal-nav">
  <div class="curr">
    {{currentRoute}}
  </div>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher...">
    <mat-icon class="search-icon" (click)="search()">search</mat-icon>
  </div>
  <div class="account-dropdown">
    <button  class="sub__btn nav-btn"  >Account</button>
    <div class="dropdown-content">
      <a href="#">Settings</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
  <a class="bd-gradient-btn nav-btn" (click)="rechrgerSold()" >Solde : {{solde}}</a>
</nav>
<nav class="vertical-nav">
  <div  style="margin-left: 20px;">
    <div class="header__left">
      <div class="header__logo">
        <a routerLink="">
                <span class="gradient-text-1">
                  <img src="assets/imgs/log.svg" width="40px" height="40px">
                  JIBI
                </span>
        </a>
      </div>
    </div>
  </div>
  <ul *ngFor="let element of navs" style="  margin-top: 20px;">
    <li class="w-100 content-center" *ngIf="element.visible" [class.active]="currentContent === element.link">
      <i [class]="element.icon" style="width: 40px; height: 40px;padding-top: 9px;" ></i>
      <a (click)="selectComponent(element.link)" #name >{{element.name}}</a>
    </li>
  </ul>
</nav>
