<nav class="horizontal-nav" >
  <div class="curr">
    {{currentRoute}}
  </div>
  <a class="sub__btn" (click)="logout()"  style="cursor:pointer">Logout</a>
  <!-- Use Angular's ngIf for conditional rendering and Angular's (click) event binding -->
  <div *ngIf="current === 'client' || current === 'client-pro' ">
    <a class="bd-gradient-btn nav-btn btn-xs" style="cursor:pointer" (click)="rechrgerSold()">Solde : {{ solde }}</a>
  </div>

</nav>
<nav class="vertical-nav">
  <div class="offcanvas__logo" style="width: 80px; margin-left: 20px;margin-bottom:30px">
    <a routerLink="">
      <img src="assets/imgs/logo/logo-black.svg" alt="logo not found">
    </a>
  </div>
  <ul *ngFor="let element of navs" class="mb-2" >
    <li
      class="w-90 content-center d-flex gap-1"
      style="cursor: pointer;"
      *ngIf="element.visible"
      [class.active]="currentContent === element.link"
    >
      <i [class]="currentContent === element.link ? element.activeIcon : element.icon" style="font-size: 19px;"></i>
      <a
        (click)="selectComponent(element.link)"
        [class.active-font]="currentContent === element.link"
      >{{element.name}}</a>
    </li>

  </ul>

</nav>
