<!-- src/app/components/create-client/create-client.component.html -->
<div class="container">
  <form [formGroup]="clientForm">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" formControlName="nom" class="form-control" />
    </div>
    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="text" id="prenom" formControlName="prenom" class="form-control" />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="numTel">Num Tel</label>
      <input type="text" id="numTel" formControlName="numTel" class="form-control" />
    </div>
    <div class="form-group">
      <label for="clientType">Client Type</label>
      <select id="clientType" formControlName="clientType" class="form-control">
        <option *ngFor="let type of clientTypes | keyvalue" [value]="type.value">{{ type.value }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="file">Document</label>
      <input type="file" id="file" (change)="onFileChange($event)" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>
