<!-- Contact form area start -->
<div class="contact__area section-space-bottom">
  <div class="container">
    <div class="col-xxl-12">
      <mat-stepper linear #stepper>
        <form [formGroup]="clientForm" >
          <mat-step>
            <ng-template matStepLabel>Client Informations</ng-template>
            <div class="tab-content" >
              <div class="tab-pane show active" id="infos-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <!-- tab 1 -->
                <div class="contact__wrapper">
                  <div class="contact__form">
                    <div class="contact__input-wrapper">
                      <div class="row">
                        <!-- Nom -->
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="contact__input-box mb-15">
                            <div class="contact__input-title">
                              <label for="nom">Nom<span> *</span></label>
                            </div>
                            <div class="contact__input">
                              <input name="nom" id="nom" formControlName="nom" type="text" placeholder="Enter your name">
                              <div *ngIf="clientForm.get('nom')?.invalid && clientForm.get('nom')?.touched" class="text-danger">
                                Nom is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Prénom -->
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="contact__input-box mb-15">
                            <div class="contact__input-title">
                              <label for="prenom">Prénom<span> *</span></label>
                            </div>
                            <div class="contact__input">
                              <input name="prenom" id="prenom" formControlName="prenom" type="text" placeholder="Enter your surname">
                              <div *ngIf="clientForm.get('prenom')?.invalid && clientForm.get('prenom')?.touched" class="text-danger">
                                Prenom is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Email -->
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="contact__input-box mb-15">
                            <div class="contact__input-title">
                              <label for="email">Email<span>*</span></label>
                            </div>
                            <div class="contact__input">
                              <input name="email" id="email" formControlName="email" type="email" placeholder="Enter your email">
                              <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="text-danger">
                                Valid email is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Numéro de téléphone -->
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="contact__input-box mb-15">
                            <div class="contact__input-title">
                              <label for="numTel">Numéro de téléphone<span> *</span></label>
                            </div>
                            <div class="contact__input">
                              <input name="numTel" id="numTel" formControlName="numTel" type="text" placeholder="Enter your phone number">
                              <div *ngIf="clientForm.get('numTel')?.invalid && clientForm.get('numTel')?.touched" class="text-danger">
                                Num Tel is required
                              </div>
                              <div *ngIf="clientForm.get('numTel')?.dirty && clientForm.get('numTel')?.hasError('numTelInvalid')" class="text-danger">
                                NumTel must start with 6 or 7 and be followed by 9 numbers.
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Username -->
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="contact__input-box mb-25">
                            <div class="contact__input-title">
                              <label for="username">Username<span> *</span></label>
                            </div>
                            <div class="contact__input">
                              <input name="username" id="username" formControlName="username" type="text" placeholder="Enter your username">
                              <div *ngIf="clientForm.get('username')?.invalid && clientForm.get('username')?.touched" class="text-danger">
                                Username is required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="ajax-response"></p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Client Documents</ng-template>
            <div class="tab-content" >
              <div class="tab-pane show active" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <!-- tab 1 -->
                <div class="contact__wrapper">
                  <div class="contact__form">
                    <div class="contact__input-wrapper">
                      <div class="row">
                        <div class="col-lg-12">
                          <mat-form-field>
                            <mat-label>Client Type</mat-label>
                            <mat-select  formControlName="clientType" required>
                              <mat-option  *ngFor="let type of clientTypes | keyvalue" [value]="type.value">{{type.value}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!-- File -->
                        <div class="col-lg-12">
                          <div class="contact__input-box mb-25">
                            <div class="contact__input-title">
                              <label for="file">Fichier</label>
                            </div>

                            <div class="contact__input">
                              <label class="bd-gradient-btn-white w-100" style="cursor:pointer" for="file">Parcourir</label>
                              <input type="file" id="file" (change)="onFileChange($event)" class="form-control" style="display:none">
                            </div>
                          </div>
                        </div>
                        <form [formGroup]="docForm" >
                          <!-- Description -->
                          <div class="col-lg-12">
                            <div class="contact__input-box mb-15 mb-20">
                              <div class="contact__input-title">
                                <label for="description">Description</label>
                              </div>
                              <div class="contact__input">
                                <input name="description" id="description"  type="text" placeholder="Description...">
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <p class="ajax-response"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact__btn">
              <button class="bd-gradient-btn w-100" (click)="onSubmit()">Submit</button>
            </div>
          </mat-step>
        </form>
      </mat-stepper>

    </div>
  </div>
</div>

